@import url('http://fonts.cdnfonts.com/css/glass-antiqua');
@import url('http://fonts.cdnfonts.com/css/noto-mono');
body{
   background-color: rgba(8, 8, 70, 0.932);
   background-image: linear-gradient(315deg, #14578d 0%, #380036 74%);
    color: silver;
   height: 100vh;
}
h1{
    font-family: 'Glass Antiqua', sans-serif;                                                
}
.quote{
    font-size: 30px;
    font-family: 'Noto Mono', sans-serif;                                                     
}
.orange{
    color: purple;
    font-size: 20px;
}

                
